//--------------------------------\\
//    Application-specific CSS
//---------------------------------\\
// @if $responsive == true{
//     @each $name in $breakpoint_has_widths {
//         @include mq($name) {
//            @include responsive_helpers('#{$name}_');
//         }
//     }
// }
////////////////////////////////////////////////////////////////////////
// Media Queries
////////////////////////////////////////////////////////////////////////
///////////////////////////////
// Break-point check for JS
///////////////////////////////
#check_mq {
	@extend %o_hide;
	@extend %visually_hidden;
	&:before {
		content: 'not_set';
		@include mq(smalls) {
			content: 'smalls';
		}
		@include mq(small) {
			content: 'small';
		}
		@include mq(smallish) {
			content: 'smallish';
		}
		@include mq(bigs) {
			content: 'bigs';
		}
		@include mq(lap) {
			content: 'lap';
		}
		@include mq(desk) {
			content: 'desk';
		}
		@include mq(wide) {
			content: 'wide';
		}
	}
}
////////////////////////////////////////////////////////////////////////
// General componentry
////////////////////////////////////////////////////////////////////////
html {
	background-color: $background_color;
}
.bg_ghost, %bg_ghost{
	background-image: url('../img/bg/bg_white_75.png');
}
.bg_ghost_light, %bg_ghost_light{
	background-image: url('../img/bg/bg_white_33.png');
}
.bg_dark_light, %bg_dark_light{
    background-image: url('../img/bg/bg_black_33.png');
}
.loading {
	background: url('../img/ajax-loader.gif') center center no-repeat;
	min-height: 56px;
	min-width: 48px;
	background-size: 48px;
	border-radius: 50%;
}
// noscript used for warning that JS is not enabled
#js_warning p {
	@extend %pad;
	display: block;
}
.circle {
	border-radius: 50%;
	@extend %display_inline_block;
	position: relative;
	word-wrap: break-word;
}
////////////////////////
// FAQ
////////////////////////
.faq {
	&:last-child{
		@extend %space_neg_b;
	}
	.accordion_trigger{
		position: static !important;
		@extend %one_whole;
		&:before{
			float: right;
			top: .25em;
			position: relative;
			@extend %icon_arrow_down;
			@extend %pad_l;
		}

		&.active:before{
			@extend %icon_arrow_up;
		}
	}
	&_question{
		@extend %button_soft;
		text-align: left;
		font-weight: normal;

		&.active{
			border-width: 1px;
			border-color: currentColor transparent transparent transparent;
			padding-left: 0;
			padding-right: 0;
			background-color: transparent;
			@extend %pad_n_b;
		}
	}
	&_answer{
		.js &{
			display: none;
		}
		@extend %pad_b_half;
		@extend %space_b;
		padding-left: 0;
		transform: translateZ(0);
		border-bottom: 2px solid color(form);
		transition: border 200ms ease-in;
		&.inactive{
			border-bottom-color: color(soft_action);
			border-width: 0;
			@extend %pad_l_half;
			transition: border 200ms ease-in, padding 150ms ease-out;
		}
	}
	@include media-query(smalls) {
		@include rems(margin-bottom, $base_line_height*.5);
		@include rems(padding-bottom, $base_line_height*.5);
	}
}
////////////////////////
// Media
////////////////////////
.no-js {
	.slide {
		@include type_space(margin-top, 2);
		&:first-child {
			margin-top: 0;
		}
	}
	// .media_block {
	// 	.tagged {
	// 		&.accordion {
	// 			&:before {
	// 				content: none !important;
	// 			}
	// 		}
	// 		ul {
	// 			@extend %o_hide;
	// 			cursor: default;
	// 			max-height: 48px;
	// 		}
	// 	}
	// }
}
.media_block_narrow .img{
	@extend %space_r_half;
	@extend %float_left;
}
.embed_flex {
	@extend %o_hide;
	display: block;
	position: relative;
	&:before {
		content: "";
		display: block;
		width: 100%;
	}
}
.img, .image {
	background-size: 100% 100%;
	@include type-space(margin-bottom, .5);
}
////////////////////////
// Promos
////////////////////////
.promo {
	//Modular page promos
	.box_flag_media{
		vertical-align: top;
	}
	.half_content {
		@extend %bigs_pad_r;
		@extend %lap_pad_r_half;
		@extend %smalls_one_whole;
		@extend %space_b;
		float: left;
		& + .promo {
			@extend %bigs_pad_l;
			@extend %lap_pad_l_half;
			padding-right: 0;
		}
	}

	.circle {
		@include rems(width, 55px);
		@include rems(height, 55px);
	}
	&_numbers_of_note {
		@extend %space_b;
		span {
			@include type_font_size(modular-scale(3));
			@extend %txt_bold;
			@extend %float_left;
			@extend %pad_r_half;
			@extend %pad_b_2;
			@extend %color_select;
		}
	}
}
.promo_important_date {
	@extend %space_b;
	.circle {
		background-color: currentColor;
		span{
			@extend %color_highlight;
		}
	}
}
.promo_event {
	@extend %space_b;
	.circle {
		background-color: color(highlight);
		color: currentColor;
	}
	br{
		display: none;
	}
	a{
		@extend %display_block;
		&:hover .circle{
			background-color: color(highlight,dark);
		}
	}
}
////////////////////////
// Right Pod
////////////////////////
.pod_right {
    @extend %one_whole;
    @extend %pad_v_quarter;
    @extend %space_v;
    @extend %bigs_one_third;
    @extend %bigs_pad_r_half;
    @extend %bigs_space_l;
    @extend %bigs_space_neg_r;
    border-bottom: 2px solid #d6dbe0;
    border-top: 2px solid #a1a5b0;
    float: right;
    h2 {
        @extend %header_gray;
        margin-bottom: $base_line_height;
    }
    p:last-child {
        @extend %space_b_half;
    }
}
////////////////////////
// Embedded PDFs
////////////////////////
.pdf {
	clear:both;
	position:relative;
	.button {
		@extend %space_b;
		width: 100%;
		&.icon {
			&:before {
				margin-top: 2px;
				margin-left: -18px;
				/* width: auto; */
				height: 14px;
				position: relative;
				@include media-query(smalls) {

				}
			}
		}
	}
    [class^="embed_"] {
		@extend %inline;
    }
	.side_content {
		@extend %float_right;
	}
}
.no-js {
	[class^="embed_"], .mfp_iframe, .mfp_iframe_login {
		display: none;
	}
}

//Used before JS kicks in and reformats these into accordion trees
// Should prevent jarring vertical bounce.
.list_child_tree{
	& > ul > li > a {
	    color: color(label);
	    font-family: 'bitter';
	    font-size: 1.3em;
	    border-top: 2px solid color(form);
	    display: block;
	    margin-bottom: 1.5rem;
	}

	& ul {
	    list-style: none;
	    margin-left: 0;
	    margin-bottom: 1.5rem !important;
	}

	& a {
	    text-decoration: none;
	}

	& li > ul > li {
	    width: 50%;
	    float: left;
	    padding: .75rem;
	    margin-bottom: .75rem;
		background-color: white;
		transition: width 200ms ease-out;
	}

	& li > ul > li:nth-child(2n+2) {
	    float: right;
	}

	& ul:after {
	    content: "";
	    display:  table;
	    clear: both;
	}

	& li>ul>li>ul>li {
	    width: 100%;
	    padding: .375rem;
	    margin-bottom: 0;
	}

	& li>ul>li>ul {
	    margin-bottom: .375rem !important;
	}

	& >ul>li>a:last-child {
	    padding-bottom: 2.25rem;
	}

	& li > ul a + ul {
	    padding-top: .75rem;
	}
}
