$alignment_output: true;

@if $include_alignment_classes == true{
	$alignment_output: false !global;
}

//---Absolute centring only works if the container has a defined height---//
%abs_center_body, .abs_center_body{
	display: table-cell;
	vertical-align: middle;
}
.abs_center, %abs_center{
	display: table;
	height: 100%;
	position: absolute;

	span{
		@extend %abs_center_body;
	}
}
%abs_right, .abs_right{
	right: 0;
}
%abs_left, .abs_left{
	left: 0;
}
%abs_top, .abs_top{
	top: 0;
}
%abs_bottom, .abs_bottom{
	bottom: 0;
}
%abs_middle, .abs_middle {
	@extend %abs_top;
	@extend %abs_bottom;
}
%abs_all, .abs_all{
	@extend %abs_middle;
	@extend %abs_right;
	@extend %abs_left;
}
%center, .center{
	@extend %display_block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

%inline, .inline{
	@extend %display_inline;
}
%inline_block, %inline-block, .inline_block{
	@extend %display_inline_block;
}
%block, .block{
	@extend %display_block;
}
%table_cell, .table_cell{
	@extend %display_table_cell;
}
%table, .table{
	@extend %display_table;
}
%table_row, .table_row{
	@extend %display_table_row;
}
%txt_left, .txt_left{
	text-align: left !important;
}
%txt_right, .txt_right{
	text-align: right !important;
}
%txt_center, .txt_center{
	text-align: center !important;
}
%txt_center_weak{
	text-align: center;
}
%vertical_align_top, .vertical_align_top{
	vertical-align: top !important;
}
%vertical_align_middle, .vertical_align_middle{
	vertical-align: middle !important;
}
%vertical_align_bottom, .vertical_align_bottom{
	vertical-align: bottom !important;
}
%vertical_align_baseline, .vertical_align_baseline{
	vertical-align: baseline !important;
}
%align_left,.align_left{
	float: left !important;
	@extend %space_r;
}
%align_right,.align_right{
	float: right !important;
	@extend %space_l;
}
%align_center, .align_center{
	float: none !important;
	margin: 0 auto;
	@extend %display_block;
}

@mixin responsive_alignment(
	$namespace: "",
	$silent: false
	)
{
	$selector: unquote(", .");

	@if $silent == true{
		$selector: unquote("//");
	}

	%#{$namespace}align_none#{$selector}#{$namespace}align_none
	{
		float: none !important;
		margin: 0;
	}
	%#{$namespace}float_left#{$selector}#{$namespace}float_left
	{
		float: left !important;
	}
	%#{$namespace}float_right#{$selector}#{$namespace}float_right
	{
		float: right !important;
	}
	%#{$namespace}float_none#{$selector}#{$namespace}float_none
	{
		float: none !important;
	}
}

@include responsive_alignment("", $alignment_output);

@if $responsive == true{
    @each $name in $breakpoint_has_helpers {
        @include mq($name) {
           @include responsive_alignment('#{$name}_', $alignment_output);
        }
    }
}
