@mixin button(
    $flat_button: true,
    $button_color_bg: colors(link),
    $button_color_secondary: colors(link,dark),
    $button_color_text: #fff,
    $border_radius: 2px,
    $hover_box_shadow: false,
    $has_border: false,
	$reversed: false
    )
{
	color: $button_color_text;
    @extend %cursor_pointer;
    line-height: normal;
    vertical-align: middle;
    user-select: none;
    @extend %inline_block;
    border-radius: $border_radius;
    text-decoration: none;
    @extend %txt_center_weak;
    background-color: $button_color_bg;
    @if $flat_button == true{
        box-shadow: none;
        @if $has_border == true {
            border: 1px solid $button_color_text;
        } @else {
            border-top: 1px solid $button_color_secondary;
        }
    } @else {
        background-image: linear-gradient(top, $button_color_bg 0.05%, $button_color_secondary 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button_color_bg', endColorstr='$button_color_secondary');
        box-shadow:inset 0 -1px 0 0 lighten($button_color_bg, 10%);
        text-shadow: 1px 1px 0 pick_best_color($button_color_text,($button_color_secondary,darken($button_color_text,25%),lighten($button_color_text,25%),darken($button_color_bg,25%),lighten($button_color_bg,25%)));
    }
    &:hover, &:focus {
        @if $flat_button == true{
            @if $hover_box_shadow == false{
                box-shadow: none !important;
            }
            @if $has_border == true {
                background-color: tint(color(highlight), 75%);
                border-color: color(soft_action);
                box-shadow: 0 1px 5px .3px rgba(color(link), .15),
                  inset 0 0 2px 1px white,
                  inset 0 -1px 0 0 color(link);
                color: mix($button_color_text, lighten($button_color_bg, 5%), 95%);
            } @else {
                background-color: lighten($button_color_bg, 10%);
                box-shadow: 0 2px 3px 0 rgba(color(text), .075),
					0 1px 2px  rgba(color(text), .15);
				// Double shadow for realisitic depth.
                color: $button_color_text;
            }
        } @else {
			color: mix($button_color_text, $button_color_secondary, 95%);
            background-color: $button_color_secondary;
            background: linear-gradient( top, $button_color_secondary 0.05%, $button_color_bg 100% );
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$button_color_secondary', endColorstr='$button_color_bg');
        }
    }
    &:active, &.active {
        position:relative;
        @if $flat_button == true{
            @if $has_border == true {
                background-color: #fff;
                border-top-width: 1px;
                border-bottom-width: 1px;
                border-color: color(select);
                box-shadow: inset 0 1px 0 0 blend_linearburn(color(select), color(select));
                color: color(select);
            } @else {
                background-color: darken($button_color_bg, 5%);
                border-color: darken($button_color_text, 12%);
                border-top-color: transparent;
				border-top-width: 1px;
                border-bottom-width: 1px;
                box-shadow: inset 0 2px 0 darken($button_color_bg, 15%);
                color: mix($button_color_text, darken($button_color_bg, 5%), 80%);
            }
        } @else {
			color: mix($button_color_text, darken($button_color_secondary, 2%), 80%);
			background-color: darken($button_color_secondary, 2%);
            background: linear-gradient( top, darken($button_color_secondary, 5%) 0.05%, darken($button_color_bg, 5%)100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='darken($button_color_secondary ,  5%)', endColorstr='darken($button_color_bg, 5%)');
            box-shadow: inset 0 1px 0 0 darken($button_color_secondary, 8%);
            text-shadow: -1px -1px 0 pick_best_color(darken($button_color_text, 10%),($button_color_secondary,darken($button_color_text,25%),lighten($button_color_text,25%),darken($button_color_bg,25%),lighten($button_color_bg,25%)));
            border-color: lighten($button_color_bg, 2%);
        }
    }
    &::selection{background: transparent;}
	&::-moz-selection{background: transparent;}
	&::-moz-focus-inner{border: 0}
}
%button_transition{
    transition: border 35ms ease-out, background 50ms ease-out, color 60ms ease-in, box-shadow 100ms ease-in;
}
%button, .button, [type="submit"] {
    @include button(true, #0c639a, blend_colordodge(#808080,#0c639a), #ebfbff, 2px, true);
	@include rems(padding-top, (($base-line-height/4) - 3px));
    @include rems(padding-bottom, (($base-line-height/4) - 2px));
    @extend %txt_bold;
	@extend %button_transition;
	&:active{
		outline: none;
	}
}
%button_soft, .button_soft {
    @include button(true, color(highlight), darken(color(soft_action), 2.5%), darken(color(soft_action), 2.5%), 2px, true, true);
    @extend %txt_bold;
	@extend %button_transition;
}

%button_secondary, .button_secondary{
    @extend %inline_block;
    border-radius: 3px;
    background-color: tint(color(highlight), 60%);
    @extend %color_link;
    @extend %txt_bold;
    user-select: none;
    border: 1px solid transparent;
    @include rems(padding-top, (($base-line-height/4) - 3px));
    @include rems(padding-bottom, (($base-line-height/4) - 2px));
    @extend %link_naked;
    @extend %txt_center;
    @extend %button_transition;

    &:hover, &:focus{
        background-color: tint(color(highlight), 80%);
        color: color(link, light);
        box-shadow: 0 2px 3px 0 rgba(color(text), 0.1),
            0 1px 2px 0 rgba(color(link), 0.075);
        border-bottom-color: rgba(color(link, light), .8);
        outline: 0;
    }
    &:active{
        @extend %color_link;
        background-color: tint(color(highlight), 60%);
        border-color: currentColor;
        box-shadow: 0 -2px 3px 0 rgba(color(link), 0.1),
            inset 0 1px 2px rgba(color(text), 0.15);
    }
}

%button_transparent, .button_transparent {
	background-color: transparent !important;
	border-color: transparent !important;
	box-shadow: none !important;
}
%button_big, .button_big {
    @include type_font_size(modular_scale(.75), false);
    @include rems(padding-top, (($base-line-height/1.5) - 3px));
	@include rems(padding-bottom, (($base-line-height/1.5) - 2px));
	&.button_soft{
		@include rems(padding-bottom, (($base-line-height/1.5) - 3px));
	}
	@include rems(margin-bottom, 4px);
	@include type-space(padding-left, 1);
	@include type-space(padding-right, 1);
}
%button_med, .button_med {
	@include rems(padding-top, (($base-line-height/2.35) - 3px));
	@include rems(padding-bottom, (($base-line-height/2.35) - 2px));
	&.button_soft{
		@include rems(padding-bottom, (($base-line-height/2.35) - 3px));
	}
	@include rems(margin-bottom, 4px);
	@extend %pad_h_half;
}
%button_small, .button_small {
	@include rems(padding-top, (($base-line-height/4) - 3px));
    @include rems(padding-bottom, (($base-line-height/4) - 2px));
	&.button_soft{
		@include rems(padding-bottom, (($base-line-height/4) - 3px));
	}
	@include rems(margin-bottom, 4px);
    @extend %pad_h_half;
    @extend %txt_small;
    @extend %vertical_align_middle;
}
%button_wide, .button_wide {
    @extend %one_whole;
}
%button_quarter, .button_quarter {
    @extend %one_quarter;
}

%button_disabled, .button_disabled, button:disabled, button.disabled, input[type="submit"].disabled, input[type="submit"]:disabled {
	color: color(label) !important;
	vertical-align: middle;
	text-align: center;
	border: 1px solid color(label) !important;
	cursor: default !important;
	background-color: color(form) !important;
	border: 1px solid color(label) !important;
	box-shadow: inset 0 2px color(label) !important;
}
////////////////////////
// Button Group
////////////////////////
.button_group {
	@extend %table;
	overflow: visible;
    .button, .button_soft {
		@extend %txt_upper;
		@extend %table_cell;
        border-radius: 0;
        // margin-left: -1px;
        &:first-child, &:first-of-type {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            margin-left: 0;
        }
        &:last-child, &:last-of-type {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
    .icon[data-icon="arrow right"] {
        @include type_font_size(modular-scale(-2));
        @extend %space_neg_l_quarter;
        line-height: 0;
    }
}

.button_txt_to_icon {

	&:before{
		@extend %bigs_hide;
		padding: 0 !important;
		@include type_space(line-height, 1);
		@include mq(smalls){
			text-align: center;
			display: inline-block !important;
		}
	}
	@include mq(smalls){
		@include type_font_size(modular-scale(2));
		white-space: nowrap;
		text-align: center;
	}
}
//.button_icon_to_txt{
//
//}
