.breadcrumbs{
    @include no-bullets;
    @extend %one_whole;
    @extend %type_reset;
    @include type_space_sc(margin, 0,0,.5,0);
    > li, > .list_item {
		@extend %inline-block;
        white-space: nowrap;
        &:after{
            @extend %icon:after;
			@include type_space(margin-left, .1);
			content: "\e643";
            position: relative;
			@extend %pad_r_quarter;
        }
    }
	& a{
		@extend %link_naked;
	}
	.footer & > li{
		&:last-child {
            &:after{
                content: "" !important;
            }
        }
	}

	&.breadcrumbs_hide_last > li:last-child{
		display: none;
	}
}
.list_naked, %list_naked{
    @include no_bullets;
    margin-left: 0;
}

.list_cards{
	& ul{
		@extend %row;
	}
	& li{
		@extend %column;
		@extend %one_half;

		& > a{
			display: block;
			@extend %box_small;
			@extend %box_panel;
			@extend %space_b_half;
			@extend %link_naked;
		}
	}
}
.list_inline {
    @extend %display_inline_block;
    @extend %space_reset;
    > li, .list_item {
        @extend %pad_v_quarter;
		@extend %inline-block;
        padding-left: 0;
        width: auto;
        vertical-align: middle;
        &:last-child{
            padding-right: 0;
        }
    }
	>li a{
		@extend %pad_r_half;
		@extend %bigs_pad_r;
		@extend %pad_v_quarter;
	}
}
.list_inline_short{
	>li, >.list_item {
		a{
			@extend %pad_r_quarter;
			@extend %pad_n_v;
		}
	}
}
.list_inline_bordered{
    @extend %space_reset;
    > li, > .list_item {
        @extend %pad_h_half;
		@extend %inline-block;
        width: auto;
        vertical-align: middle;
        border-left: 1px solid;
        &:first-child{
            border-left-width: 0;
            padding-left: 0;
        }
    }
}
.list_block {
    @extend %display_block;
    @extend %space_reset;
    > li {
        @extend %space_b_half;
        a {
            @extend %pad_n_h;
            @extend %pad_v_quarter;
            display: block;
        }
        vertical-align: middle;
    }
}
.list_bordered, %list_bordered {
	list-style: none;

	li {
        border-top: 2px solid $gray_color_lighter;
        list-style-type: none;
		@extend %pad_v;
    }
    a, span {
        display: block;
    }
    .accordion {
        border-bottom: 0 !important;
		> ul{
			transition: none;
		}
    }
}
.list_bordered_short {
	@extend %space_v;
	list-style: none;

	> li {
        @extend %pad_v_half;
        border-top: 2px solid color(form);
    }
    > li:first-child {
        border-top: 2px solid transparent;
    }
}
.list_nav, %list_nav{
    a {
		display: block;
		text-decoration: none;
    }
    .accordion {
        > a {
			@extend %inline_block;
        }
    }
	&.list_inline > li{
		a {
			@include type-space(padding-right, .5);
		}
	}
}

.list_tag {
	@include type_font_size(modular-scale(-1));
	list-style: none;

	>li{
		@extend %space_r_quarter;
		@extend %inline_block;
		a {
			@extend %pad_v_quarter;
			@extend %link_naked;
			display: block;
		}
	}

}