////////////////////////
// Mixitup
////////////////////////
#main {
    @extend %o_hide;
    @include mq(small){
        border-left: 0px;
        border-right: 0px;
    }
}

.controls .half{
	@include mq(smalls){
		width: 100%;
	}

}
.mix.uwhc.uwmf a {
    padding-right: 2.65em;
}
.mixitup{
    transform: translateZ(0);
	@extend %bigs_space_neg_l;
	@extend %space_neg_l_half;
	letter-spacing: -.75em;
	padding-left: 0;
	.column {
        @include rems(padding-top, $gutter);
        color: inherit;
        @extend %o_hide;
    }
    .category {
        @extend %header_gray;
		width: 100%;
    }
    .element {
		position: relative;
		letter-spacing: normal;
		@include type_font-size(modular-scale(-1));
        @extend %vertical_align_bottom;
    }
	a {
		@include type_font-size(modular-scale(0));
		@extend %link_naked;
		display: block;
		position: relative;
		border-bottom: 1px solid color(link);
	}
	.icon_uwhealth, .icon_uwhc, .icon_uwmf {
		&:before {
			bottom: 0;
			font-size: 16px;
			@include mq(bigs){
				font-size: 20px;
			}
		}
	}
	[data-org] a{
		@extend %pad_r;
	}
}

.mix{
	@extend %pad_l_half;
	@extend %bigs_pad_l;
	@extend %inline-block;
	opacity: 1;
    &:first-child{
        border-top-color: #ddd;
    }
	@extend %one_whole;
    @extend %desk_one_third;
    @extend %lap_one_half;
	@extend %smallish_one_half;
}
.mix[data-title="undefined"]:before{
	display: none !important;
}
.js #Grid .mix, .js #Grid .column{
    display: none;
}

////////////////////////
// JS Fall back
////////////////////////
.mixitup {
	ul {
        @extend %list_bordered;
        @extend %list_nav;
    }
    li {
        @extend %pad_t_half;
        @extend %pad_b_quarter;
    }
	a {
		padding: 0;
	}
    .categoryHidden {
        overflow:hidden;
        height: 1px;
        width: 0px;
        padding: 0;
        margin: 0;
		opacity: 0;
        position: absolute;
    }
}
.mix_initiated .mix{
    display: none;
}
.sorted .mix:before {
    content: attr(data-title);
    display: block;
    // white-space:pre;
	@extend %txt_small;
	color: color(label);
}
