.color_white {
  color: white;
}

.color_black {
  color: black;
}

.color_alert {
  color: #b22727;
}

.color_link {
  color: #0c639a;
}

.color_highlight {
  color: #e4f1f9;
}

input, textarea {
  background-color: #d7dde5;
  background: transparent url(../../img/bg/bg_black_10.png) top left repeat;
}
input:hover, textarea:hover {
  border-top-color: #5d9bc0;
  border-right-color: #82b2ce;
  border-bottom-color: #a6c8dd;
  border-left-color: #82b2ce;
}
input:focus, textarea:focus {
  background-color: white;
}

.box_panel .button_inside:after {
  left: -80%;
}

.lt-ie9 .wrap {
  min-width: 860px !important;
}

.search_shade {
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9FFFFFFF, endColorstr=#9FFFFFFF);
}

.search_active.search_shade {
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=5);
}

#mega_menu {
  z-index: 999;
  zoom: 1;
}
#mega_menu > .tabbed {
  z-index: 999;
  position: relative;
  zoom: 1;
  background-color: #ebebeb;
}
#mega_menu > .tabbed > .tab_content {
  background-color: #f3f5f8;
}

#mega_buttons .tab.active:after {
  content: "\e62a";
}

#overview.hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0,FinishOpacity=100,Style=1,StartX=0,FinishX=0,StartY=175,FinishY=100%);
}

.ms_behavior_removed {
  behavior: none !important;
}

.img_header {
  -webkit-background-size: cover cover;
          background-size: cover;
  behavior: url(/cosmos/uconnect/css/polyfills/backgroundsize.min.htc);
  z-index: 0;
}
.img_header .clicked {
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.224646798818428e-16, M21=-1.224646798818428e-16, M22=-1, SizingMethod='auto expand')";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.224646798818428e-16, M21=-1.224646798818428e-16, M22=-1, SizingMethod='auto expand');
  margin-left: -20%;
  margin-top: 24px;
}
.img_header .clicked:after {
  top: 116px;
}
.img_header .header_bar {
  background-color: #CEDFEA;
}

/*
.img_header {
	background-size: cover;
    behavior: url(/cosmos/uconnect/css/polyfills/backgroundsize.min.htc);
    z-index: 0;
    .hover {
    	// background: url(/cosmos/uconnect/img/header1-hover.png) center bottom no-repeat;
		&:before {
			content: '<' !important;
        }
        &:after {
        	content: '' !important;
        	height: 0;
        }
    }
    .clicked {
        // -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=1.224646798818428e-16, M21=-1.224646798818428e-16, M22=-1, SizingMethod='auto expand')";
   		filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=-1,
            M12=1.224646798818428e-16,
            M21=-1.224646798818428e-16,
            M22=-1,
            SizingMethod='auto expand');
   		// margin-left: -20%;
   		// margin-top: 110px;
		&:before {
			content: '*' !important;
        }
  //       &:after {
  //       	top: 116px;
  //       }
	}
}
*/
#tagline .icon_before:before {
  content: 'tag' !important;
}

.h5.header_gray {
  text-transform: uppercase;
}

.promo a {
  border: 0;
  text-decoration: none;
}
.promo a:hover {
  text-decoration: none;
}
.promo .box_card {
  -webkit-background-size: cover cover;
          background-size: cover;
  -ms-behavior: url(/cosmos/uconnect/css/polyfills/backgroundsize.min.htc);
}
.promo .box_card_body {
  -webkit-filter: none;
          filter: none;
}
.promo .box_card_body:after {
  content: none;
}
.promo .box_card_foot a {
  margin-left: -20px;
}

.box_promo_head {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=ie-hex-str(rgba(color(link), .5)),endColorstr=ie-hex-str(rgba(color(link), .5)));
}
.box_promo:hover .box_promo_head {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=ie-hex-str(rgba(color(link), .8)),endColorstr=ie-hex-str(rgba(color(link), .8)));
}

.slick-list {
  overflow: hidden;
}

.slick-prev:after, .slick-next:after {
  content: '>';
  margin-left: 28px;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  filter: alpha(opacity=25);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}

.slick-dots li button {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.media_block .body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0,FinishOpacity=100,Style=1,StartX=0,FinishX=0,StartY=150,FinishY=100%);
}
.media_block .tagged a {
  margin-left: -20px;
}

.tag:before {
  left: 25px;
}

.box_glass {
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6FFFFFFF, endColorstr=#6FFFFFFF) !important;
}

.box_panel {
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=0,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=45,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=90,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=135,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=180,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=225,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=270,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#ffffff,direction=315,strength=5);
}

.box_card_body {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0,FinishOpacity=100,Style=1,StartX=0,FinishX=0,StartY=96,FinishY=100%);
}

.build_flat_accordion .column > ul > li > ul > li {
  margin-right: 14px;
  width: 48%;
}

.body_content .tab_topline > .tab_content {
  border-bottom: 2px solid #f3f5f8;
}

.footer_utility_nav p {
  display: inline-block;
}

@media only screen and (max-width: 640px) {
  #mega_menu {
    z-index: 500;
    zoom: 1;
  }
  #mega_menu .tabbed .tab_content {
    background-color: #fff !important;
  }
  #mega_menu .tab_button.active {
    background-color: #fff !important;
  }

  .sidebar_content {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=0,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=225,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=5);
  }
}
@media only screen and (min-width: 641px) and (max-width: 940px) {
  .sidebar_content {
    background-color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=0,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=225,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=5), progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=5);
  }
}
