.color_white {
  color: white;
}

.color_txt {
  color: #031522;
}

.color_alert {
  color: #b22727;
}

.color_link {
  color: #0c639a;
}

.color_highlight {
  color: #e4f1f9;
}

.color_label {
  color: #9da9b3;
}

.wrap {
  min-width: 860px !important;
}

.no_lte_ie8 {
  display: none !important;
}

input, textarea {
  background-color: #d7dde5;
  background: transparent url(../../img/bg/bg_black_10.png) top left repeat;
}
input:hover, textarea:hover {
  border-top-color: #5d9bc0;
  border-right-color: #82b2ce;
  border-bottom-color: #a6c8dd;
  border-left-color: #82b2ce;
}
input:focus, textarea:focus {
  background-color: white;
}

.box_panel .button_inside:after {
  left: -80%;
}

.mega_buttons, .utilities, .utility_nav, .utility_options, .search_close {
  display: none !important;
  width: 0 !important;
}

.mega_menu {
  position: relative !important;
}
.mega_menu > .tabbed {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.mega_menu .tab_button {
  display: block !important;
}

.utility .icon_menu .visually_hidden {
  position: relative !important;
  width: auto !important;
}
.utility .utility_search {
  padding: 6px;
  width: 75%;
}

.search_button, .search_icon {
  line-height: 38px !important;
}

.search_button {
  min-width: 0 !important;
  right: 2px !important;
}

.search_icon {
  color: white !important;
  font-size: 14px !important;
  left: 7% !important;
  margin-top: 0 !important;
}

.search_shade {
  display: none !important;
}

.search_active {
  display: none !important;
}

.reveal_header {
  display: none !important;
}

.overview {
  max-height: none !important;
  padding-bottom: 0 !important;
}
.overview p {
  max-width: none !important;
}

.mask {
  -webkit-mask: none !important;
          mask: none !important;
}

header .side_content {
  display: none !important;
}

.img_header .header_icon {
  display: none;
}

#tagline .icon_before:before {
  content: 'tag' !important;
}

.sidebar_button .visually_hidden {
  position: relative !important;
}
.sidebar_button.active {
  background-color: #e4f1f9;
  border-color: #5d9bc0;
  color: #5d9bc0;
}
.sidebar_button.active:after {
  color: #5d9bc0;
}

#hffy_cart_js {
  margin-bottom: 48px;
}

.h5.header_gray {
  text-transform: uppercase;
}

.tab:before {
  content: '' !important;
}

#controls {
  display: none !important;
}

.magnific_popup_iframe {
  display: none !important;
}

.slider {
  margin-top: 24px !important;
  max-height: none !important;
}

.slide {
  padding-bottom: 48px;
}

.promo {
  margin-right: 5% !important;
  width: 45% !important;
}

.bg_ghost {
  overflow: hidden;
}

.box_glass {
  background-color: #fff;
}

.build_flat_accordion .column > ul > li > ul > li {
  margin-right: 14px;
  width: 48%;
}
.build_flat_accordion .column > ul > li > ul > li > a {
  max-width: 75%;
}

.body_content .tab_topline > .tab_content {
  border-bottom: 2px solid #f3f5f8;
}

.third {
  width: 33%;
}

.tabbed {
  margin-bottom: 48px;
}

.footer_utility_nav p {
  display: inline-block;
}
