//Everything is scoped to body content from here forward.
// Only applies to editor-defined areas.

.editor_content{
	mark{
		background-color: darken(color(primary_alt,lightest), 5%);
	}
	figure {
		border-bottom: 2px solid color(label);
		@extend %pad_b_half;
		@extend %smalls_one_whole;
		float: none;
		& img{
			display: block;
			margin: 0 auto;
			@include type-space(margin-bottom, .5);
			float: none;
		}
	}
	figcaption {
		display: table;
		overflow: visible !important;
	}
	p, li{
		max-width: 55em;
	}
	h1, .heading{
		@extend %heading;
		& + h2, & + .sub_heading{
			@extend %negative_top;
		}
	}
	h2, .sub_heading{
		@extend %sub_heading;
	}
	.small_heading{
		@extend %space_b;
	}
	.small_heading + p{
		@extend %space_neg_t;
	}
	.space_negative{
		@extend %space_neg_t;
	}
	h3, h4, h5, h6, .small_heading{
		@extend %txt_sans;
		@include type_font_size(modular-scale(-1));
		@extend %txt_bold;
	}
	.space{
		@extend %pad_b_quarter;
	}
	.space_large{
		@extend %pad_b_half;
	}
	.space_xl{
		@extend %pad_b;
	}
	.indent{
		@include type-space-important(margin-left, .25);
	}
	.indent_large{
		@include type-space-important(margin-left, .5);
	}
	.indent_xl{
		@include type-space-important(margin-left, 1);
	}
	.list_naked, .list_bordered{
		padding-left: 0 !important;
		text-indent: 0 !important;
	}
	ul, ol{
		margin-top: 0;
		margin-left: 0;
		padding-left: 1.45em;
		overflow: hidden;
		text-indent: -.05em;
	}
	.space > li{
		@extend %pad_v_quarter;
	}
	.space_large > li{
		@extend %pad_v_half;
	}
	.space_xl > li{
		@extend %pad_v;
	}
}




main, .homepage_header {
	.tab {
		@include media-query(smalls){
			@include rems_important(padding, $gutter*1.25);
			&:before {
				@include type_font_size(ceil(modular-scale(2)));
				margin: -14px;
			}
			span {
				display: none;
			}
		}
	}
}
main, .homepage_header {
	.tab {
		@include media-query(smalls){
			@include rems_important(padding, $gutter*1.25);
			&:before {
				@include type_font_size(ceil(modular-scale(2)));
				margin: -14px;
			}
			span {
				display: none;
			}
		}
	}
}
.body_content_news .pod_right + p:first-of-type{
	@extend %heading;
}
main {
	@include type_space(min-height, 25);
	transform: translateZ(0);
	position: relative;
	// <main> is z-index:1; .img_header is z-index:2; .footer is z-index:0; .sidebar is z-index: 241 (above dropdown)
	z-index: 1;
	.tabs {
	    width: 100%;
	}
	.tab_content{
		@include type_space(min-height, 20);
		border-top-style: solid;
		border-color: color(soft_action);
	}
	.tab {
		@extend %icon;
		float: left;
		@extend %pad_l;
		padding-right: 6%;
		& span{
			position: relative;
			padding-left: .25em;
			left: .25em;
		}
		&:before {
			@extend %space_neg_l_half;
		}
		@include media-query(smalls){
			@include rems_important(padding, $gutter*1.25);
			&:before {
				@include type_font_size(ceil(modular-scale(2)));
				margin: -14px;
			}
			span {
				display: none;
			}
		}
		&[href*="#focus"] {
			@extend %icon_type_article;
		}
		&[href="#faq"] {
			@extend %icon_info_faq;
		}
		&[href*="#resource"] {
			@extend %icon_file_resource;
		}
		&[href*="#related"] {
            @extend %icon_related;
		}
		&#dir_link{
			margin-left: 0;
			display: block;
			@extend %icon_directory_logo;
			margin-right: 2%;
			@include mq(smalls){
				margin-left: 10%;
				float: left !important;
			}
		}
	}
	.tabbed{
		@extend %space_b_2;
		.controls{
			@extend %bigs_space_neg_l;
			@extend %space_neg_l_half;
			box-sizing: content-box;
			width: 100%;
			@extend %bigs_pad_l;
			@extend %bigs_pad_r;
			@extend %pad_l_half;
			@extend %pad_r_half;
			.no-js &{
				display: none;
			}
		}
	}
}
