.top_nav{
	z-index: 100;
	box-shadow: 0 3px 4px rgba(5, 14, 43, 0.1);
}
.skip_nav{
	transition: all 200ms ease-out;
	top: 0;
}
.skip_nav:focus{
	position: fixed;
	@extend %pad_half;
	border-radius: 2px;
	top: 5px;
	@include type-space(height, 1);
	left: 3px;
	z-index: 40000;
	background-color: #fff;
}
////////////////////////
//  Utility Nav
////////////////////////
.login_button {
	display: block;
	overflow: visible;
	max-width: 6.5em;
	margin: auto;
	&:before{
		content: "\e60f";
	}
}
.utility {
	position: relative;
	@include mq(smalls){
		display: table-row;
		& > .column{
			@extend %smalls_pad_v_quarter;
			text-align: center;
			display: table-cell;
			padding-left: 0;
		}
		& .utility_search{
			width: 85%;
			@include type-space(padding-left, .25);
			@include type-space(padding-right, .25)
		}
	}
	& .button_inset{
		transform: translateZ(0);
		@include mq(lap){
			min-height: 34px;
		}
	}
}
.utility_search{
	position: relative;
	@extend %three_tenths;
	@extend %desk_three_elevenths;
	z-index: 100;
	transform: translateZ(0);
	transition: width 400ms cubic-bezier(.75, .18, .59, 1), top 200ms ease-in;
	@include mq(bigs){
		position: absolute;
		top: 2px;
		display: block;
		.search_active &{
			width: 100%;
			top: 7px;
		}
	}
	.no-js &{
		right: 0;
		top: 0;
		display: inline-block;
		position: relative;
	}
}
.utility_search, .utility_options{
	@extend %pull_lap_one_tenth;
	@extend %pull_desk_one_eleventh;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
	@include mq(desk){
		max-width: 66.66%;
	}
	@include mq(lap){
		max-width: 85%;
	}
}
.utility_nav{
	line-height: normal;
	position: relative;
	@extend %six_tenths;
	@extend %desk_seven_elevenths;
}
.utility_login{
	position: relative;
	@extend %desk_one_eleventh;
	@extend %one_tenth;
	@extend %push_lap_three_tenths;
	@extend %push_desk_three_elevenths;
	.no-js &{
		right: 0;
		// display: inline-block;
		left: 0;
	}
}
/////////////////////////////
//------Search-------------//
/////////////////////////////
$shade_speed: 300ms;
.search_shade {
	transform: translateZ(0);
	background-color: rgba(255,255,255,.9);
	width: 100%;
	z-index: 2;
	height: 0;
	left: 0;
	top: 0;
	@extend %absolute;
	transition: height $shade_speed cubic-bezier(.44, -0.5, .39, 1.01);
	.search_active &{
		height: 100%;
		transition: height $shade_speed cubic-bezier(.44, 0, .49, 1.5);
		box-shadow: 0 2px 3px rgba(color(text), .1);
	}
}
.utility_options{
	text-align: center;
	white-space: nowrap;
	display: block !important;
	z-index: 3;
	width: 100%;
	position: absolute;
	@include type-space(top, .5);
	max-height: 0;
	padding-top: 0 !important;
	overflow: hidden;
	transition: top $shade_speed ease-in,
		padding 300ms cubic-bezier(.3, .27, .33, .98),
		max-height ($shade_speed/1.5) ease-out;
	@include mq(smalls){
		left: 0;
	}
	.no-js &{
		display: none !important;
	}
	.search_active &{
		@include type-space(top, 1.5);
		@include rems_important(padding-top, 48px);
		max-height: 200px;
		transition: top $shade_speed ease-in,
			padding 300ms cubic-bezier(.3, .27, .33, .98),
			max-height $shade_speed ease-in ($shade_speed/2);
	}
	.button_group{
		margin: 0 auto;
		display: table;
	}
	.button{
		@include mq(smalls){
			padding-right: 1.75%;
			padding-left: 1.75%;
		}
	}
}
.search_options{
	@extend %pad_l_half;
}
.search_close{
	display: none;
	position: absolute !important;
	top: 8% !important;
	right: 1%;
	@include rems(width, 40px);
	@include rems(height, 40px);
	border-radius: 50%;
	@extend %icon_sym_delete;
	text-align: center;
	z-index: 6;
	&:before{
		@include type_font-size(modular-scale(2), false);
		margin-left: -.3em;
		padding-right: 0;
		@include rems(line-height, 22px);
	}
	.search_active &{
		display: block;
	}
}
.global_search{
	@include type_font_size(modular-scale(-1));
}
.utility_search .button_inset{
	overflow: hidden;
}
.search_button{
	white-space: nowrap;
	min-width: 6.5em;
	max-width: 6.5em !important;
	text-align: right;
	right: -7.75em !important;
	padding: 0 5%;
	transition: max-width 320ms ease-out,
		border-radius 200ms cubic-bezier(.55, .14, .96, .51) 100ms,
		right 500ms ease;
	input:focus + &, .search_active &{
		border-radius: 2px;
		z-index: 1;
		max-width: 18em !important;
		right: 2px !important;
		transition: max-width 350ms cubic-bezier(.79, .01, .37, 1.49) 175ms,
			opacity 400ms ease 50ms,
			border-radius 200ms cubic-bezier(.99, .25, .75, 1.45) 50ms,
			right 320ms ease-in;
	}
}
.search_icon {
	color: #0c639a;
	max-width: 3em;
	text-align: left;
	right: 7.85em; //One size larger than the search_button
	left: -3em; //Compensation for the enlarged size of the icon.
	display: inline-block;
	position: absolute;
	line-height: 1.5;
	vertical-align: middle;
	height: 1em;
	margin-top: -1.5px;
	transform: scale(1.5);
	transition: color 300ms ease-in, margin-top 200ms ease-in,
		right 350ms ease-in, left 280ms ease-in, top 300ms ease,
		transform 300ms cubic-bezier(.45, .01, .59, 1.43) 50ms;
	input:focus + .search_button &, .search_active &{
		margin-top: 0;
		color: white;
		transition: right 475ms cubic-bezier(.79, .01, .37, 1.49),
			left 150ms ease-in, margin-top 200ms ease-in,
			color 250ms ease-out,
			transform 300ms cubic-bezier(.14, -0.47, .61, 1.01) 100ms;
		transform: scale(1) translateY(2px);
		left: 7%;
	}
}

/////////////////////////
//  Mega Menu
/////////////////////////
.mega_buttons {
    margin: 0;
    vertical-align: bottom;
    min-height: 0;
	display: none;
    @extend %lap_one_whole;
    overflow: visible;
	@include mq(bigs){
		display: inline-block;
		min-width: 788px;
	}
	& .tabs{
		display: table-row;
    }
	& .tab.tab {   			//double selector for specificity #hack
		@extend %txt_small; // 13px/12px
		@extend %lap_pad_l_quarter;
		@extend %pad_v_half;
		@extend %pad_r_half;
		@extend %bigs_pad_r;
		@extend %pad_l_half;
		display: table-cell;
		white-space: nowrap;
		border-radius: 2px 2px 0 0;
		color: color(primary, dark);
		line-height: 1.3657534;
		text-indent: 0;
		top: 0;
		vertical-align: middle;
		border-bottom-color: color(label);
		transition: color 250ms ease-out,
				background-color 150ms ease-out,
				border 150ms ease-out;
		@include mq(lap){
			letter-spacing: normal;
			text-transform: none;
		}
		@media screen and (min-width: 1084px) and (max-width:1200px){
			padding-left: .5em;
			padding-right: 2em;
		}
		&:first-child {
			@extend %pad_n_l;
			&:after{
				display: none;
			}
		}
		&:hover, &:focus, &:active {
			color: color(link);
			border-color: currentColor;
			&:after{
				transform: translateY(2px);
			}
		}
		&:after {
			position: relative;
			margin-top: 2px;
			transition: transform 220ms ease-in;
			content: "\e629";
			display: inline-block;
			@include opacity(.5);
			float: right;
			margin-right: -10px;
			padding: 0;
			transform: scale(1, 1);
			width: 4px;
		}
		&.active.toggle { //specificity #hack
			cursor: pointer;
			color: white;
			background-color: color(alert) !important;
			border-color: transparent;
			&:after{
				transform: scale(1, -1);
				@include opacity(.8);
			}
		}
		&.tab_quick_links{
			color: color(link) !important;
			border-bottom-color: transparent !important;

			&.active{
				color: #fff !important;
				background-color: color(link) !important;
			}

            &.active {
                color: white !important;
            }
		}
	}
}
.no-js {
    @include mq(smalls){
        .mega_buttons {
            display: block;
            position: relative;
            .tab_button {
                display: none !important;
            }
        }
        .mega_menu {
			display: block;
			left: $base_line_height/2;
        	margin: 0;
        }
    }
}
.mega_menu {
    @include type-space(margin-top, -3);
    @extend %txt_bold;
    @extend %one_whole;
    display: none;
    left: 0;
    vertical-align: bottom;
    z-index: 100;
    @include mq(bigs){
        display: block !important;
        font-size: 0;
        margin-top: 0 !important;
        z-index: -1;
    }
	transform-origin: top center;
    .wrap {
        padding: 0;
    }
    > .tabbed {
		transform-origin: top center;
        box-shadow: 0 2px 3px rgba(color(text), .15);
        min-height: 0;
		@include mq(smalls){
			width: 96%;
			margin-left: auto;
			margin-right: auto;
		}
        .tabs {
            @include mq(bigs){
                z-index: 3;
                margin-top: 0;
            }
        }
        > .tab_content {
			transform-origin: top center;
            @extend %one_whole;
            background-color: rgba(color(subtle), .93);
            border-top: 2px solid color(select);
            border-bottom: 2px solid color(link);
            margin: 0;
            opacity: 1;
			padding-left: 0;
			padding-right: 0;
			@include mq(bigs){
				padding: 0;
				position: absolute;
			}
            .tabbed {
				margin: 0;
                @include mq(bigs){
					@include type-space(min-height, 17);
				}
                @extend %one_whole;
            }
        }
    }
    ////////////////////////
    > .tab_content{
        @extend %one_whole;
        @include mq(bigs){
            box-shadow: 0 1px 6px rgba(color(text) , .2);
            padding: 0;
            position: absolute;
            top: 0;
        }
    }
    .tab_side > .tab_content {
		@extend %bigs_pad_t_half;
        @include mq(bigs){
			@include type-space(min-height, 18);
			border-bottom-width: 0 !important;
		}
        .column {
            list-style: none;
            p {
                &:last-child {
                    border: 0;
                }
            }
        }
        p {
            @extend %pad_b_quarter;
            @extend %txt_small;
            border-bottom: 2px solid color(subtle);
        }
        a {
            @extend %type_normal;
            text-decoration: none;
            text-transform: none;
        }
    }
    .tab_content {
        header {
            @extend %pad_v_quarter;
            @extend %sub_heading;
            border-top: 2px solid color(label);
            color: color(label);
        }
    }
    .tab {
        @extend %txt_small;
        &:after {
            transition: transform 220ms ease-in;
            @include mq(bigs){
                @include type_space(margin-right, -1);
            }
        }
    }
    .list_inline {
        @extend %one_whole;
        @extend %pad_b;
        li {
            @extend %space_r;
            width: 22.2%;
            &:last-child {
                @extend %space_n_r;
            }
        }
        .button {
            @extend %button_wide;
            @extend %txt_left;
            @extend %type_normal;
            min-height: 100px;
            text-transform: none;
        }
    }
    .promos {
		@extend %smalls_hide;
        > .row {
            margin-left: 0;
        }
        a {
            @include type_font_size(modular-scale(0));
            @extend %button;
            min-height: 100px;
            padding: 12px;
            text-align: left;
            width: 100%;
        }
        header {
            @include rems(margin-left, $gutter);
        }
    }
    .tab_button:after{
		position: absolute;
        content: "\e629";
        right: 12px;
    }
	.tab_button:first-of-type{
		border-radius: 2px 2px 0 0;
	}
    .tab_button:last-of-type{
        border-bottom-width: 1px !important;
		border-radius: 0 0 2px 2px;
    }
    .tab_link{
        background-color: color(subtle);
        color: color(link);
		border-color: color(label);
    }
	.utility_tab{
		@include type_font_size(modular-scale(-1), false);
        font-weight: normal;
    }
    .tab_link:after{
        display: none;
        margin-right: 0;
    }
    & .tab_button.active{
        background-color: rgba(255,255,255,0.975) !important;
        margin-bottom: 0;
    }
    .active:after{
        transform: rotateX(180deg);
    }
	.no-js &{
		visibility: visible;
		position: relative !important;
		z-index: 1;
		& .tab_content {
			position: relative !important;
			overflow: hidden;
			margin-right: 0;
			clear: left;
			font-size: 14px;
			& .tab_button {
				cursor: pointer !important;
				color: color(link);
				float: left;
				display: inline-block;
			}
			& .wrap {
				width: 100%;
				padding: 0 5px;
			}
			& .tab_content {
				display: none;
				&:target{
					display: block;
				}
			}
		}
		& .tab_button{
			@extend %sub_heading;
			color: color(label);
			cursor: default !important;
			margin-top: 1em;
			width: auto;
			&:after{
				display: none;
			}
		}
		& .home_link.tab_button{
			display: none;
		}
		a[href="#quick-links"].tab_button{
			color: color(link);
			cursor: pointer !important;
		}
		#quick-links{
			display: none;
			&:target{
				display: block;
			}
		}
	}

}
////////////////////////
// Logo
////////////////////////
//	NOTE: The logo is subject to change height and width.
//	To accomodate the various possible sizes, we need to do a few things:
//	1. Make sure its container is flexible, but does not get too small.
//	2. Make its container vertically and horizontally aligned to the center.
//	3. Make sure it never gets too tall where it could make the nav super tall.
.logo {
	@extend %one_whole;
	@extend %lap_one_half;
	@extend %desk_one_quarter;
	overflow: hidden;
	min-width: 160px; //[1]
	@include type-space(height, 4); //Specified height needed for vertical alignment.
	@include mq(desk){
		min-width: 260px; //[1]
		@include type-space(height, 4.5);
	}
	@media screen and (min-width: 941px) and (max-width: 1110px){
		@include type-space(height, 3);
		width: 20%;
	}
	@include mq(lap){
		@include type-space(height, 3);
		text-align: left;
	}
	&:hover{
		@include opacity(.9);
	}
	& .logo_wrap{
		@include mq(lap){
			@include type-space(padding-top, .5);
		}
		display: table;
		text-align: center;
		height: 100%;
		width: 100%;
		@include mq(lap){
			text-align: left;
		}
	}
	& a{
		display: table-cell;
		max-width: 360px;
		vertical-align: middle;
		margin: auto;
		@media screen and (min-width: 941px) and (max-width: 1110px){
			text-align: left;
			// In between common breakpoints, the logo will jump to the top line.
			// This makes sure it doesn't get too tall for.
		}
	}
	& img, & .img{
		max-height: 100%;
		@extend %pad_b_quarter;
		@include mq(desk){
			padding-bottom: 0;
		}
		@include mq(lap){
			@include type-space(max-height, 2.5);
		}
		display: inline;
	}
}
//------------------------------------------------------------------
#quick-links {
	@include mq(bigs){
		background-color: color(link);
		background-color: rgba(color(link), .95);
		border-top-color: color(link);
	}
}
.quick_links {
    @include type_font_size(modular-scale(-1));
    @extend %space_n_v;
	color: $color_white;
    .tab_content {
        @extend %pad_n_v;
        border-width: 0;
        background-color: transparent;
    }
    header {
        @extend %txt_upper;
		@extend %space_b_half;
        border: 0 !important;
        color: $color_white !important;
    }
    .column {
        border-right: 1px solid tint(color(link), 20%);
        height: 100%;

		&:last-child {
            border-right: 0;
        }
    }
    p {
        display: block;
		@extend %txt_small;
		@extend %smalls_one_half;
		@include type-space(margin-bottom, .5);
		@extend %pad_r_quarter;
    }
    a {
        @extend %type_normal;
        color: $color_white;
        text-transform: none !important;
		text-decoration: none;
    }
    @include mq(smalls){
        color: color(primary);
        .column {
            @extend %smalls_o_hide;
            display: block;
            width: 100% !important;
			border: 0 !important;
        }
		p{
			float: left;
		}
		.row{
			display: block;
		}
        header {
			clear: both;
            color: color(label) !important;
			padding-left: 0;
        }
        a {
            color: color(link);
			display: block;
			border-bottom: 1px solid;
        }
    }
}
.sub_nav li{
    padding-left: 0;
}
.no-js .mega_buttons{
    .accordion {
        &:before {
            content: none !important;
        }
    }
    @include mq(small){
        position: relative;
    }
}
////////////////////////
// Header Image
////////////////////////
.wrap_img_header {
    margin-top: -25px;
    height: 0px;
    width: 100%;
}
.img_header {
    background-color: $link_color !important;
	position: relative;
	z-index: 1;
	transform: translateZ(0);
}
.page_header {
	color: $color_white;
	a{
		@extend %link_naked;
		@include link_color(color(highlight));
	}
	.content_extended  {
		@include media-query((lap, smalls)){
			margin-left: 0 !important;
		}
	}
	.main_content{
		position: relative;
		z-index: 1;
		@include type-space(margin-top, -.25);
	}
    .header_bar {
        background: rgba(color(highlight), .8);
        border-bottom: 1px solid #fff;
        min-height: 42px;
    }
	.side_content {
		@include media-query(smalls){
			display: none;
		}
	}
	.icon_UW, .icon_UWHC, .icon_UWMF {
		@include type_font_size(24px);
		display: inline;
		padding-right: $base_line_height;
		position: relative;
		&:before {
			position: absolute;
		}
	}
}
.no-js {
    .img_header {
        .clickable {
            display: none;
        }
        .header {
            h1 {
                @include type_space_sc(margin, 0,0,1,0);
            }
        }
    }
	.img_cover{
		display: none;
	}
    .overview.mask {
        max-height: none;
        transition: none;
        padding-bottom: 0;
		mask-image: none;
        p {
            max-height: none;
            -webkit-mask-image: none;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

///////////////////////
//		OVERVIEW
///////////////////////
.js .overview {
	transform: translateZ(0);
//    transition: margin-bottom 250ms ease-in,
//		max-height 550ms cubic-bezier(.3, -0.35, .73, 1.5),
//		padding 350ms cubic-bezier(.25, .1, .38, 1.5);
	padding-bottom: 0;
	max-height: 1000px;
	overflow: hidden;
	&.mask{
//		transition: margin-bottom 250ms ease-in,
//			max-height 300ms cubic-bezier(.3, -0.35, .73, 1.35),
//			padding 350ms cubic-bezier(.25, .1, .38, 1.5);
		@include type-space(max-height, 2.5);
		@include type-space(padding-bottom, 3);
	}
	p {
		@extend %txt_sans;
		max-width: 36em; //Readability fix
	}
}
.clickable {
    @extend %cursor_pointer;
    -webkit-transform: translateZ(0);
}
//Overview reveal button
.reveal_header{
	@include type-space(bottom, -1);
	@include type-space(padding-left, 1);
	@include type-space(padding-top, 3);
	@extend %one_whole;
	left: 0;
	margin: -.5em auto 0;
	opacity: .8;
	right: 0;
	z-index: 10;
	text-align: center;
	transform-style: preserve-3d;
	transform: translateZ(0);
	transition: transform 400ms ease-out 100ms,
			padding 320ms ease-in;
	&:focus{
		outline: none;
	}
	&.clicked{
        padding-top: 0;
		transform: scale(1, -1) translateZ(0);
        transition: transform 500ms cubic-bezier(0, 0, .6, 1.41) 220ms,
          padding 500ms cubic-bezier(.42, 0, .71, 1.26);
	}
	& .icon{
		color: white !important;
		background-color: transparent;
		border-radius: 3px;
		display: table;
		opacity: 0.7;
		transform-style: preserve-3d;
		transition: background 400ms ease-out,
					opacity 400ms ease-out;
		width: 100%;
		&:before{
			display: table-cell;
			text-align: center;
			padding: 0;
			height: 100%;
			width: 100%;
		}
	}
	&:hover, &:focus{
		.icon{
			text-shadow: 0 0 2px rgba(color(text), .2);
			opacity: 0.9;
			background-color: color(link);
			background-color: rgba(color(link), .7);
		}
	}
}
////////////////////////
//  HEADER BAR
//  Content Below Title
////////////////////////
.tag_bar {
	transform-origin: top center;
    transition: transform 400ms cubic-bezier(.42, 0, .59, 1.46) 450ms,
				max-height 200ms ease-in-out 500ms,
                opacity 500ms ease-out 100ms;
	&.mask{
		transition: transform 400ms ease-in 100ms,
				max-height 300ms ease-in-out 100ms,
                opacity 500ms ease-out 100ms;
	}
}
.header_bar {
	border-bottom: 1px solid white;
	max-height: 100%;
	transform: scale(1,1); //IE9 fallback
	transform: scale(1,1) translateZ(0);
	.tag_title {
        @include type_font_size(modular-scale(-1));
        @extend %txt_right;
        @extend %pad_v_half;
        color: color(highlight);
        margin: 0;
    }
    @include media-query(smalls){
        text-align: left !important;
        .wide_content {
            width: 100%;
        }
    }
    .list_inline {
        > li {
            @extend %pad_n_v;
            @extend %pad_r_half;
            line-height: $base_line_height*2;
        }
    }
	.list_tag {
        @include type_font_size(modular-scale(-1));
        @extend %pad_l;
        a {
			@extend %pad_n;
            @extend %link_naked;
            color: white;
			display: block;
            &:hover, &:focus {
                color: color(highlight);
            }
            &:active {
                color: color(soft_action, lightest);
            }
        }
    }
    @include media-query((lap, smalls)){
        .side_content {
            display: none;
        }
        .wide_content {
            width: 100%;
        }
    }
	&.mask{
		transform: scale(1, -1);
		max-height: 0;
		opacity: 0;
	}
}
.header_icon {
    &:before {
        @include type_font_size(144px, false);
        color: color(soft_action) !important;
	    @include media-query((lap,smalls)){
	    	@include type_font_size(120px, false);
	    	left: 0;
	    }
    }
}
.overview, .tag_bar {
    width: 100%;
    opacity: 1;
    margin-bottom: 0;
}