////////////////////////
// Sidebar
////////////////////////
// .js #sidebar{
//     @extend %smalls_hide;
// }
// .js.sub_nav #sidebar{
//     @extend %smalls_show;
// }
.sidebar {
	// <main> is z-index:1; .img_header is z-index:2; .footer is z-index:0; .sidebar is z-index: 241 (above dropdown)
	z-index: 241;
	@include mq(bigs){
		@include type_font_size(14px); // NOTE: This should remain as a pixel value. These links are an exception to the modular-scale rule.
	}
	@include media-query((lap,smalls)){
        @include type_space(padding-top, .5);
    }
	.list_bordered{
		@extend %pad_t_half;
        @extend %bigs_pad_t;
		border-bottom: 2px solid color(form);
		@extend %space_b_2;

		ul{
			margin-bottom: 0;
		}
		a{
			@extend %pad_v_half;
		}
		p{
			border-top: 2px solid color(form);
			margin-bottom: 0;
			margin-top: -2px;
		}
	}
    #related {
        .list_bordered{
            @extend %bigs_pad_t_half;
        }
	}
	li {
		@extend %pad_n_v;
	}
	.accordion_trigger{
		top: -2px; //compensate for top borders on nav items.
		color: color(soft_action);
		right: -.5em;
		padding-right: 0;
		&:before{
			font-size: 1.3em;
			line-height: 1.3;
			transition: line-height 100ms ease-out;
		}
		&:hover{
			color: color(link, lighter) !important;
		}
		&.active:before{
			line-height: 1.5;
		}
	}
	a {
		@extend %link_naked;
		-webkit-font-smoothing: antialiased; // This corrects a weird optical illusion where sidebar links appear slightly purple.
	}
	.search_box{
		@extend %pad_v_half;
	}
}
.sidebar_nav{
	@extend %txt_upper;
	@extend %txt_bold;
}
.js .sidebar_nav li > ul{
	@extend %display_none;
}
.js .sidebar_nav li > .currentbranch0 ~ ul{
	display: block;
}
.sidebar_content > ul{
	margin-left: 0;
}
.sidebar_related h2{
	@extend %color_label;
	@extend %txt_upper;
	@extend %txt_small;
	margin-bottom: 0;
	@extend %pad_t_half;
}
//Button has no label (span) on lap and smallish.
// Label is hidden with visually_hidden class.
.sidebar .sidebar_button { //Specificity HACK
	min-width: 100%;
	@extend %txt_label;
	@include type-space(margin-bottom, 1);

	@include mq(small){
		min-width: initial;
		margin-right: 2%;

		& span{
			display: inline-block;
			top: -2.25px; // Vertical alignment HACK
			@extend %small_visible; //Undo visually_hidden
			position: relative;
		}
	}
}
.no-js {
    .sidebar {
        .list_nav {
            ul ul {
                @include type_space(margin-left, 1);
            }
        }
    }
}
.sidebar_content {
    @extend %desk_show;
    @extend %lap_space_b;
    @extend %smalls_space_b;
    @extend %lap_pad_half;
    @extend %smalls_pad_half;
	transform: translateZ(0);
    .button_inset {
        overflow: hidden;
    }
    @include media-query((lap,smalls)){
		background-color: white;
        background-color: rgba($color_white, .98);
        border-radius: $border_radius;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        display: none;
		@include type-space(margin-top, -.5);
        position: absolute;
        width: 500%;
        z-index: 100;
    }
	&.cart{
		@include media-query((lap,smalls)){
			top: auto;
		}
	}
    @include media-query(small){
        width: 93%;
    }
}
.no-js {
    .sidebar_content {
        @include media-query((lap,smalls)){
            background-color: transparent;
            box-shadow: none;
            display: block;
            padding: 0;
            position: relative;
            width: 100%;
        }
    }
}
.sidebar_footer_content {
	@extend %lap_space_v;
	@extend %smalls_space_v;
}
.currentbranch0, .self {
	border-top: 2px solid;
    border-color: color(select) !important;
    color: color(select) !important;
    cursor: default;
	margin-top: -2px;
    a {
        color: color(select) !important;
        cursor: default;
        &:before {
            color: color(select) !important;
        }
    }
}
.grandparent, .self, .branch0, .branch_arrow, .parent {
    padding-left: 1.25em;
    > * {
        @extend %icon;
        &:before {
            @extend %txt_normal;
			@extend %inline-block;
            margin: 0 0 0 -1.35em;
            padding-right: .25em;
        }
    }
}
// For situations where both the grandparent and parent are shown.
// Only grandparent should get the home icon.

.grandparent + .parent{
	padding-left: 0;

	& > *:before{
		@extend %display_none;
	}

	& ~ li{
		@extend %space_l_half;
	}
}

.grandparent, .self, .branch0, .parent {
    > * {
        @extend %icon_home;
    }
}
.branch_arrow {
    > * {
        @extend %icon_arrow_left;
        &:before {
            padding-right: 0;
        }
    }
}

//Hides children of currentbranch when Child Tree Widget is on the same page.
// This prevents overly long left-nav sections with duplicated child navigation.
.has_child_tree .currentbranch0 ~ ul,
.has_child_tree .currentbranch0 + .accordion_trigger {
	display: none !important;
}
