//------------------------------------
//    $COLORS
//------------------------------------
//Based on: http://blog.12spokes.com/web-design-development/simple-css-color-management-with-sass/
//Darker and lighter darkens are available by adding -dark/-darker/-light/-lighter to the end of variable names.

$colors: (
	primary: (
		base: #063b6d
	),
	primary_alt: (
		base: #5f82a3
	),
	accent: (
		base: #d40026
	),
	accent_alt: (
		base: #fe0202
	),
	action: (
		base: #4c7659
	),
	function: (
		base: #d4c9ad
	),
	alert: (
		base: #b22727
	),
	gray: (
		base: #9da9b3
	),
	text: (
		base: #031522
	),
	link: (
		base: #0c639a
	),
	label: (
		base: #9da9b3
	),
	soft_action: (
		base: #5d9bc0
	),
	form: (
		base: #d7dde5
	),
	subtle: (
		base: #f3f5f8
	),
	select: (
		base: #c21235
	),
	highlight: (
		base: #e4f1f9
	)
) !default;

$colors: (
	primary: (
		base: colors(primary),
		light: lighten(colors(primary), 10%),
		lighter: lighten(colors(primary), 20%),
		lightest: lighten(colors(primary), 40%),
		dark: darken(colors(primary), 10%),
		darker: darken(colors(primary), 20%),
		darkest: darken(colors(primary), 40%)
	),
	primary_alt: (
		base: colors(primary_alt),
		light: lighten(colors(primary_alt), 10%),
		lighter: lighten(colors(primary_alt), 20%),
		lightest: lighten(colors(primary_alt), 40%),
		dark: darken(colors(primary_alt), 10%),
		darker: darken(colors(primary_alt), 20%),
		darkest: darken(colors(primary_alt), 40%)
	),
	accent: (
		base: colors(accent),
		light: lighten(colors(accent), 10%),
		lighter: lighten(colors(accent), 20%),
		lightest: lighten(colors(accent), 40%),
		dark: darken(colors(accent), 10%),
		darker: darken(colors(accent), 20%),
		darkest: darken(colors(accent), 40%)
	),
	accent_alt: (
		base: colors(accent_alt),
		light: lighten(colors(accent_alt), 10%),
		lighter: lighten(colors(accent_alt), 20%),
		lightest: lighten(colors(accent_alt), 40%),
		dark: darken(colors(accent_alt), 10%),
		darker: darken(colors(accent_alt), 20%),
		darkest: darken(colors(accent_alt), 40%)
	),
	action: (
		base: colors(action),
		light: lighten(colors(action), 10%),
		lighter: lighten(colors(action), 20%),
		lightest: lighten(colors(action), 40%),
		dark: darken(colors(action), 10%),
		darker: darken(colors(action), 20%),
		darkest: darken(colors(action), 40%)
	),
	function: (
		base: colors(function),
		light: lighten(colors(function), 10%),
		lighter: lighten(colors(function), 20%),
		lightest: lighten(colors(function), 40%),
		dark: darken(colors(function), 10%),
		darker: darken(colors(function), 20%),
		darkest: darken(colors(function), 40%)
	),
	alert: (
		base: colors(alert),
		light: lighten(colors(alert), 10%),
		lighter: lighten(colors(alert), 20%),
		lightest: lighten(colors(alert), 40%),
		dark: darken(colors(alert), 10%),
		darker: darken(colors(alert), 20%),
		darkest: darken(colors(alert), 40%)
	)
	,gray: (
		base: colors(gray),
		light: lighten(colors(gray), 10%),
		lighter: lighten(colors(gray), 20%),
		lightest: lighten(colors(gray), 40%),
		dark: darken(colors(gray), 10%),
		darker: darken(colors(gray), 20%),
		darkest: darken(colors(gray), 40%)
	)
	,text: (
		base: colors(text),
		light: lighten(colors(text), 10%),
		lighter: lighten(colors(text), 20%),
		lightest: lighten(colors(text), 40%),
		dark: darken(colors(text), 10%),
		darker: darken(colors(text), 20%),
		darkest: darken(colors(text), 40%)
	)
	,link: (
		base: colors(link),
		light: lighten(colors(link), 10%),
		lighter: lighten(colors(link), 20%),
		lightest: lighten(colors(link), 40%),
		dark: darken(colors(link), 10%),
		darker: darken(colors(link), 20%),
		darkest: darken(colors(link), 40%)
	)
	,label: (
		base: colors(label),
		light: lighten(colors(label), 10%),
		lighter: lighten(colors(label), 20%),
		lightest: lighten(colors(label), 40%),
		dark: darken(colors(label), 10%),
		darker: darken(colors(label), 20%),
		darkest: darken(colors(label), 40%)
	)
	,soft_action: (
		base: colors(soft_action),
		light: lighten(colors(soft_action), 10%),
		lighter: lighten(colors(soft_action), 20%),
		lightest: lighten(colors(soft_action), 40%),
		dark: darken(colors(soft_action), 10%),
		darker: darken(colors(soft_action), 20%),
		darkest: darken(colors(soft_action), 40%)
	)
	,form: (
		base: colors(form),
		light: lighten(colors(form), 10%),
		lighter: lighten(colors(form), 20%),
		lightest: lighten(colors(form), 40%),
		dark: darken(colors(form), 10%),
		darker: darken(colors(form), 20%),
		darkest: darken(colors(form), 40%)
	)
	,subtle: (
		base: colors(subtle),
		light: lighten(colors(subtle), 10%),
		lighter: lighten(colors(subtle), 20%),
		lightest: lighten(colors(subtle), 40%),
		dark: darken(colors(subtle), 10%),
		darker: darken(colors(subtle), 20%),
		darkest: darken(colors(subtle), 40%)
	)
	,select: (
		base: colors(select),
		light: lighten(colors(select), 10%),
		lighter: lighten(colors(select), 20%),
		lightest: lighten(colors(select), 40%),
		dark: darken(colors(select), 10%),
		darker: darken(colors(select), 20%),
		darkest: darken(colors(select), 40%)
	)
	,highlight: (
		base: colors(highlight),
		light: lighten(colors(highlight), 10%),
		lighter: lighten(colors(highlight), 20%),
		lightest: lighten(colors(highlight), 40%),
		dark: darken(colors(highlight), 10%),
		darker: darken(colors(highlight), 20%),
		darkest: darken(colors(highlight), 40%)
	)

);

$primary_color: colors(primary) !default;        		//UW Blue (dark blue)
$primary_color_alt: colors(primary_alt) !default;    	//UW Steel Blue
$brand_color: colors(primary) !default;
$accent_color: colors(accent) !default;        			//UW Red (maroonish-red)
$accent_color_alt: colors(accent_alt) !default;    		//UW Fire Red (orangey-red)
$action_color: colors(action) !default;         	//Green / Earth
$function_color: colors(function) !default;       		//UW Tan
$alert_color: colors(alert) !default;         	 		//Red
$gray_color: colors(gray) !default;         	 		//gray
$border_color: #8a9095 !default;         				//gray
$link_color: colors(link) !default;
$txt_color: colors(text) !default;
$label_color: colors(label) !default;
$soft_action_color: colors(soft_action) !default;
$form_color: colors(form) !default;
$subtle_color: colors(subtle) !default;
$select_color: colors(select) !default;
$highlight_color: colors(highlight) !default;

$primary_color_dark: darken($primary_color, 10%)                  !default;    //Darker UW Blue (dark blue)
$primary_color_alt_dark: darken($primary_color_alt, 10%)          !default;    //Darker UW Steel Blue
$accent_color_dark: darken($accent_color, 10%)                    !default;    //Darker UW Red (maroonish-red)
$accent_color_alt_dark: darken($accent_color_alt, 10%)            !default;    //Darker UW Fire Red (orangey-red)
$action_color_dark: darken($action_color, 10%)                    !default;    //Darker Green / Earth
$function_color_dark: darken($function_color, 10%)                !default;    //Darker UW Tan
$alert_color_dark: darken($alert_color, 10%)                      !default;    //Darker Red
$gray_color_dark: darken($gray_color, 10%)                        !default;    //Darker gray
$border_color_dark: darken($border_color, 10%)                    !default;    //Blueish-Gray
$link_color_dark: darken($link_color, 10%)                        !default;
$txt_color_dark: darken($txt_color, 10%)                        	!default;
$label_color_dark: darken($label_color, 10%)                        		!default;
$soft_action_color_dark: darken($soft_action_color, 10%)            !default;
$form_color_dark: darken($form_color, 10%)                        	!default;
$subtle_color_dark: darken($subtle_color, 10%)                      !default;
$select_color_dark: darken($select_color, 10%)                      !default;
$highlight_color_dark: darken($highlight_color, 10%)                !default;

$primary_color_darker: darken($primary_color, 20%)              !default;    //Deep UW Blue (dark blue)
$primary_color_alt_darker: darken($primary_color_alt, 20%)      !default;    //Deep UW Steel Blue
$accent_color_darker: darken($accent_color, 20%)                !default;    //Deep UW Red (maroonish-red)
$accent_color_alt_darker: darken($accent_color_alt, 20%)        !default;    //Deep UW Fire Red (orangey-red)
$action_color_darker: darken($action_color, 20%)                !default;    //Deep Green / Earth
$function_color_darker: darken($function_color, 20%)            !default;    //Deep UW Tan
$alert_color_darker: darken($alert_color, 20%)                  !default;    //Deep Red
$gray_color_darker: darken($gray_color, 20%)                    !default;    //Deep gray
$border_color_darker: darken($border_color, 20%)                !default;    //
$link_color_darker: darken($link_color, 20%)                    !default;
$txt_color_darker: darken($txt_color, 20%)                        	!default;
$label_color_darker: darken($label_color, 20%)                        		!default;
$soft_action_color_darker: darken($soft_action_color, 20%)            !default;
$form_color_darker: darken($form_color, 20%)                        	!default;
$subtle_color_darker: darken($subtle_color, 20%)                      !default;
$select_color_darker: darken($select_color, 20%)                      !default;
$highlight_color_darker: darken($highlight_color, 20%)                !default;

$primary_color_light: lighten($primary_color, 10%)               !default;    //Ligher UW Blue
$primary_color_alt_light: lighten($primary_color_alt, 10%)       !default;    //Ligher UW Steel Blue
$accent_color_light: lighten($accent_color, 10%)                 !default;    //Ligher UW Red (maroonish-red)
$accent_color_alt_light: lighten($accent_color_alt, 10%)         !default;    //Ligher UW Fire Red (orangey-red)
$action_color_light: lighten($action_color, 10%)                 !default;    //Ligher Green / Earth
$function_color_light: lighten($function_color, 10%)             !default;    //Ligher UW Tan
$alert_color_light: lighten($alert_color, 10%)                   !default;    //Ligher Red
$gray_color_light: lighten($gray_color, 10%)                     !default;    //Ligher gray
$border_color_light: lighten($border_color, 10%)                 !default;    //Lighter gray
$link_color_light: lighten($link_color, 10%)                     !default;
$txt_color_light: lighten($txt_color, 10%)                        	!default;
$label_color_light: lighten($label_color, 10%)                        		!default;
$soft_action_color_light: lighten($soft_action_color, 10%)            !default;
$form_color_light: lighten($form_color, 10%)                        	!default;
$subtle_color_light: lighten($subtle_color, 10%)                      !default;
$select_color_light: lighten($select_color, 10%)                      !default;
$highlight_color_light: lighten($highlight_color, 10%)                !default;

$primary_color_lighter: lighten($primary_color, 20%)               !default;    //Ligher UW Blue
$primary_color_alt_lighter: lighten($primary_color_alt, 20%)       !default;    //Ligher UW Steel Blue
$accent_color_lighter: lighten($accent_color, 20%)                 !default;    //Ligher UW Red (maroonish-red)
$accent_color_alt_lighter: lighten($accent_color_alt, 20%)         !default;    //Ligher UW Fire Red (orangey-red)
$action_color_lighter: lighten($action_color, 20%)                 !default;    //Ligher Green / Earth
$function_color_lighter: lighten($function_color, 20%)             !default;    //Ligher UW Tan
$alert_color_lighter: lighten($alert_color, 20%)                   !default;    //Ligher Red
$gray_color_lighter: lighten($gray_color, 20%)                     !default;     //Ligher gray
$border_color_lighter: lighten($border_color, 20%)                 !default;    //Lighter gray
$link_color_lighter: lighten($link_color, 20%)                     !default;
$txt_color_lighter: lighten($txt_color, 20%)                        	!default;
$label_color_lighter: lighten($label_color, 20%)                        		!default;
$soft_action_color_lighter: lighten($soft_action_color, 20%)            !default;
$form_color_lighter: lighten($form_color, 20%)                        	!default;
$subtle_color_lighter: lighten($subtle_color, 20%)                      !default;
$select_color_lighter: lighten($select_color, 20%)                      !default;
$highlight_color_lighter: lighten($highlight_color, 20%)                !default;

$color_white: #fff;
$color_black: #000;

.color_white, %color_white { color: white; }
.color_txt, %color_txt { color: color(text); }
.color_alert, %color_alert { color: color(alert); }
.color_link, %color_link   { color: color(link);  }
.color_highlight, %color_highlight { color: color(highlight); }
.color_label, %color_label {color: color(label)};